table {
  color: #eee;
  border-collapse: collapse;
  border: 2px solid #2a2f4f;
}
td {
  border-right: 2px solid #2a2f4f;
  padding: 5px;
  background-color: #e5beec;
  color: #2a2f4f;
}
/* Cards */
.cards-wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
}
.cards-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background: linear-gradient(
    90deg,
    #eee 0%,
    #ffffff00 30%,
    #ffffff00 70%,
    #eee 100%
  );
  pointer-events: none;
}
.cards {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-110px);
  display: flex;
  flex-direction: row;
  width: 1300px;
  justify-content: space-between;
}

.card {
  width: 700px;
  padding: 0px 0px 60px 0px;
  background-color: #917fb3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
/* 按鈕 */
.arrow-btn {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 6px 8px #00000030;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
}

.arrow-btn-next {
  left: auto;
  right: 20px;
}

.arrow-btn svg {
  fill: #333;
  position: absolute;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
}

.arrow-btn-next svg {
  transform: translate(-40%, -50%);
}
