@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC";
}
body {
  background-color: #2a2f4f;
}
header {
  position: fixed;
  width: 100%;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 700px;
  padding: 0px 0px 60px 0px;
  background-color: #917fb3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
